<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Test</title>
</head>
<body>
  <h1>Test de Afinidad</h1>
  <form action="/test" method="POST">
    <% preguntas.forEach((pregunta, index) => { %>
      <p><%= pregunta.texto %></p>
      <% pregunta.opciones.forEach((opcion, i) => { %>
        <label><input type="radio" name="respuestas[<%= index %>]" value="<%= i + 1 %>" required> <%= opcion %></label>
      <% }); %>
      <br>
    <% }); %>

    <button type="submit">Enviar Test</button>
    <a href="/">Volver a inicio</a>
  </form>
</body>
</html>

